body {
    margin: 0;
    font-family: 'Segoe UI';
    display: flex;
    background: #0b1220;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #111827;
    padding: 20px;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 10px 0;
    background: #1f2937;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Threat Box */
.threat-box {
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
}

/* Threat Colors */
.CRITICAL { color: red; }
.HIGH { color: orange; }
.MEDIUM { color: yellow; }
.LOW { color: green; }

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card p {
    font-size: 28px;
}

/* Chart */
.chart-container {
    margin-top: 20px;
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
}

/* Table */
table {
    width: 100%;
    margin-top: 20px;
    background: #1f2937;
}

th, td {
    padding: 12px;
    text-align: center;
}

/* Action Colors */
.MONITOR { color: #22c55e; }
.ALERT { color: #facc15; }
.TEMP_BLOCK { color: orange; }
.PERMANENT_BLOCK { color: red; }